{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
